.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
#fundo
{
    background-image: url("background\ \(2\).jpg");
    background-size: cover;
    background-position: center;
}
canvas
{
    box-shadow: 10px 10px 10px burlywood;
    border-radius: 30px;
}